.productName {
    padding: 15px;
}

.priceSpace {
    padding: 15px;
}

.mainArea {
    margin-top: 50px;
    padding: 10px;
}

.subArea {
    margin-top: 20px;
    margin-left: 20px;
}